# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea
/.gradle
/build
/out
/src/main/resources/application-database.yml
/src/main/resources/application-kakao.yml
/src/main/resources/application-jwt.yml
